version: "3.7"
services:
  web:
    build: ./
    container_name: web
    ports:
      - 8888:8888
    environment:
      - MYSQL_HOST=db
    depends_on:
      - db
  db:
    image: mysql:5.7
    container_name: db
    ports:
      - 3306:3306
    environment:
      - MYSQL_DATABASE=blog
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - ./db-data:/var/lib/mysql