{{define "header"}}
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>{{.BlogName}}</title>

        <!-- Bootstrap core CSS -->
        <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

        <!-- Favicons -->
        {{/*    <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">*/}}
        {{/*    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">*/}}
        {{/*    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">*/}}
        {{/*    <link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">*/}}
        {{/*    <link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">*/}}
        {{/*    <link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">*/}}
        {{/*    <meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">*/}}
        {{/*    <meta name="theme-color" content="#563d7c">*/}}


        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                    font-size: 3.5rem;
                }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="/assets/css/blog.css" rel="stylesheet">
    </head>
    <body>
        <div class="container pb-5">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                    </div>
                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="/">{{.BlogName}}</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        {{ if .User}}
                            <h5 class="font-weight-normal">Hello, {{.User.Name}}  </h5>
                            <a class="btn btn-sm btn-outline-secondary" href="/logout">Logout</a>
                        {{else}}
                            <a class="btn btn-sm btn-outline-secondary" href="/login">Sign in</a>
                        {{end}}
                    </div>
                </div>
            </header>
        </div>
{{end}}