{{template "layout" .}}

{{define "main"}}
    <div class="mb-6 text-center">
        <form class="form-signin" action="/articles" method="post">
            <h1 class="h3 mb-3 font-weight-normal">create a new article</h1>
            {{ if .Errors}}
                <h4>ERROR!{{.Errors}} </h4>
            {{end}}
            <label for="inputTitle" class="sr-only">Title</label>
            <input type="text" for="inputTitle" name="title" class="form-control" placeholder="Title" required="" autofocus="">
            <label for="inputDescription" class="sr-only">Description</label>
            <textarea id="inputDescription" name="description" class="form-control" placeholder="Description" required=""></textarea>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2020</p>
        </form>
    </div>
{{end}}