{{template "layout" .}}

{{define "main"}}
    <div class="mb-6">
        <form class="form-edit" action="/articles" method="post">
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input type="text" name="title" class="form-control {{ if .Errors.Title}}is-invalid{{ end }}" id="inputTitle" placeholder="Title" value="{{ if .Inputs }}{{ .Inputs.Title }}{{ end }}">
                {{ if .Errors.Title }}
                    {{ range $value := .Errors.Title }}
                    <div class="invalid-feedback">{{ $value }}</div>
                    {{ end }}
                {{ end }}
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label for="inputDescription">Description</label>
                    <textarea name="description" class="form-control {{ if .Errors.Description }}is-invalid{{ end }}" id="inputDescription" rows="3">{{ if .Inputs }}{{ .Inputs.Description }}{{ end }}</textarea>
                    {{ if .Errors.Description }}
                        {{ range $value := .Errors.Description }}
                            <div class="invalid-feedback">{{ $value }}</div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">create a new article</button>
        </form>
    </div>
{{end}}